@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 8px;
}

img {
  max-width: 100%;
}

.stegosaurus,
.iguanodon {
  display: none;
}

@media only screen and (min-width: 25em) {
  .stegosaurus,
  .iguanodon,
  .diplodocus,
  .hadrosaur {
    display: inline-block;
    max-width: 49%;
  }

  .dino-wrap {
    display: inline-block;
  }

}


@media only screen and (min-width: 38em) {
  .stegosaurus,
  .iguanodon,
  .hadrosaur {
    display: inline-block;
    max-width: 30%;
  }

  .dino-wrap {
    display: inline-block;

  }

  .diplodocus {
    display: none;
  }

}


@media only screen and (min-width: 60em) {
  .stegosaurus,
  .iguanodon,
  .diplodocus,
  .hadrosaur {
    display: inline-block;
    max-width: 24%;
    margin: auto;
  }

  .dino-wrap {
    margin-left: 20px;
  }

}
